@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: hsl(233, 47%, 7%);
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 3.5rem;
}
p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.6rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 3rem 0 0 0;
  line-height: 1.5;
}
